body {
    font-family: Arial, sans-serif;
    padding: 20px;
    width: 100vw;
    background-color: #FFFFE0; /* Light Yellow */
  }
  
  h1.title {
    color: orange;
    margin-bottom: 20px;
  }
  
  /* Page selection buttons */
  #page-selector {
    margin-bottom: 20px;
  }
  
  .page-button {
    display: inline-block;
    border-radius: 5px;
    padding: 8px 15px;
    border: 2px solid orange;
    margin-right: 5px;
    cursor: pointer;
    background-color: orange;
    color: white;
    font-size: 1rem;
    outline: none;
  }
  
  .page-button.active {
    background-color: transparent;
    color: orange;
  }
  
  .prompt-input {
    border: 0.1rem solid;
    border-radius: 0.5rem;
    width: 70%;
    margin-bottom: 10px;
    padding: 10px;
  }
  
  .prompt-button {
    border-radius: 0.5rem;
    background-color: orange;
    color: white;
    width: 70%;
    padding: 1rem;
    cursor: pointer;
    border: none;
  }
  
  .goal-input {
    border-color: green;
  }
  
  .return-format-input {
    border-color: blue;
  }
  
  .warning-input {
    border-color: red;
  }
  
  #result-streaming {
    border: 0.1rem solid grey;
    border-radius: 0.5rem;
    overflow-y: auto;
    width: 70%;
    min-height: 16rem;
    margin-top: 2rem;
    padding: 10px;
    background-color: white;
  }
  